name: Build PgNinja

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build solution
        run: |
          msbuild PgNinja.sln /p:Configuration=Release /p:Platform=x64

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: PgNinja-binary
          path: |
            **/Release/*.exe
